body{
    background:rgb(57,135,201);
}
* {
    padding : 0;
    margin : 0;
}
.container{
	margin-top: 100px;
	padding: 32px;
}
	
.select-box{
	display: flex;
	width: 400px;	
}
	
.select-box .options-containers{
	background: #2f3640;
	color: #f5f7fa;
	max-height: 0; 
	width: 100%;
	opacity: 0; 
	transition: all 0.5s;
	border-radius: 8px;
	overflow: hidden;
}
		
.select-box .options-container.active{
	max-height: 240px;
	opacity: 1;
	overflow-y: scroll;
}
		
.select-box .options-container::-webkit-scrollbar{
	width: 8px;
	background: #0d141f;
	border-radius: 0 8px 8px 0;
}
		
.select-box .options-container::-webkit-scrollbar-thumb{
	background: #525861;
	border-radius: 0 8px 8px 0;
}
.select-box .option,.selected {
	padding: 12px 24px;
	cursor: pointer;
}
			
.select-box .option:hover{
	background: #414b57;
}
				
.select-box label{
	cursor: pointer;
}
					
.select-box .option .radio{
	display: none;
}

